body{
    background-color:#3e4444;
}
.navbar{
    background-color:#034f84;
    color: #3e4444;
}
h1{
    color: #fff;
    text-align: center;

}
h2{
    text-align: center;
    padding: 3% 15%;
    color: #fff;
    font-family: 'Cedarville Cursive', cursive;
    size: 100%;
}

#Top{
    text-align: center;
}

.Top-button{
    margin: 3%;
}

.Top-head{
    padding: 15% 15%;
    background-image: linear-gradient(to bottom, #034f84, rgba(198, 222, 241, 0.5)),url('Unibuilding.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    
    background-size: 100% 100%;
    background-blend-mode: normal;
}

#footer{
    text-align: center;
    padding: 7% 15%;
    margin-left: 3%;
}